<%- include("partials/header", {title: "Membership Access", css: "sign-up.css"}) %> 
<%- include("partials/navbar")%>

<div class="content">
  <h2>Membership Access</h2>
  <form action="" method="POST">
    <label class="backward" for="code">Who are you?</label>
    <input name="code" placeholder="Secret code" type="text" />
    
    <button>Become a member</button>
  </form>
</div>
<% if(typeof err !== "undefined" && err.length !== 0) { %> 
  <%- include("partials/error", {err: err}) %> 
<% } %>
<%- include("partials/footer") %> 