<%- include("partials/header", {title: "Secret", css: "message.css"}) %>
<%- include("partials/navbar") %>

<div class="content">
    <h2>Messages</h2>
    <% if(typeof messages !== "undefined") { %>
        <% messages.forEach(message => { %>
            <%- include("partials/message-card", {message, isAdmin: currentUser?.isAdmin}) %>
        <% }) %>
    <% } %>
            
</div>
<%- include("partials/footer") %>
